node_modules
build/main
src/renderer/.vscode/*
src/renderer/.readme/*
src/renderer/assets/*
src/renderer/common/*
src/renderer/router/*
src/renderer/stores/*
src/renderer/views/*
src/renderer/typings/*
src/renderer/components/*
src/renderer/utils/*
src/renderer/*.vue
src/renderer/*.html
src/renderer/*.js
src/renderer/*.json
src/renderer/README.md
src/renderer/LICENSE
dist